[Unit]
Description=name-dyndns

[Service]
ExecStart=/usr/local/bin/name-dyndns -daemon=true -config=/etc/name-dyndns/config.json

[Install]
WantedBy=multi-user.target

